ICP7/Sourcecode/code_flow.jsomn
[{"id":"5d3d9a2b.fe27b4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d1ef0e60.72044","type":"sensorTag","z":"5d3d9a2b.fe27b4","name":"sensorTag","devices":["bc6a2948f972"],"temperature":true,"humidity":true,"pressure":true,"magnetometer":false,"magnetometerPeriod":"","accelerometer":false,"accelerometerPeriod":"","gyroscope":false,"gyroscopePeriod":"","luxometer":true,"luxometerPeriod":"","keys":false,"x":106,"y":208.0000057220459,"wires":[["292490a8.fe2a7"]]},{"id":"292490a8.fe2a7","type":"function","z":"5d3d9a2b.fe27b4","name":"extract json data","func":"\nif(msg.payload.json_data.temperature !== undefined)\n{\n    var data = msg.payload.json_data.temperature;\n    var data2 = msg.payload.json_data.humidity;\n    var msg = [];\n    msg[0] = {payload: data};\n    msg[3] = {payload: data2};\n}\nelse if(msg.payload.json_data.pressure !== undefined)\n{\n    var data = msg.payload.json_data.pressure;\n    var msg = [];\n    msg[1] = {payload: data};\n}\nelse if(msg.payload.json_data.ambient !== undefined)\n{\n    var data = msg.payload.json_data.ambient;\n    var msg = [];\n    msg[2] = {payload: data};\n}\nreturn msg;","outputs":4,"noerr":0,"x":283,"y":202,"wires":[["45046c44.efc984"],["b50e475d.c764d8"],["4b40d715.beeab8"],["84cea210.6a253"]]},{"id":"45046c44.efc984","type":"ui_chart","z":"5d3d9a2b.fe27b4","name":"","group":"fb34c6f0.dcb698","order":0,"width":0,"height":0,"label":"temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":543.0000076293945,"y":103.00001049041748,"wires":[[],[]]},{"id":"b50e475d.c764d8","type":"ui_chart","z":"5d3d9a2b.fe27b4","name":"","group":"ac179b0a.5e1818","order":0,"width":0,"height":0,"label":"pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":541.0000076293945,"y":190.0000286102295,"wires":[[],[]]},{"id":"84cea210.6a253","type":"ui_chart","z":"5d3d9a2b.fe27b4","name":"","group":"7e99c792.f4b748","order":0,"width":0,"height":0,"label":"humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":556.0001068115234,"y":329.0000858306885,"wires":[[],[]]},{"id":"4b40d715.beeab8","type":"ui_chart","z":"5d3d9a2b.fe27b4","name":"","group":"d120b7f7.1cc298","order":0,"width":0,"height":0,"label":"light","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":576.5000877380371,"y":257.0000762939453,"wires":[[],[]]},{"id":"fb34c6f0.dcb698","type":"ui_group","name":"Group 1","tab":"45901a8a.c9e384","order":1,"disp":true,"width":6},{"id":"ac179b0a.5e1818","type":"ui_group","name":"Group 2","tab":"45901a8a.c9e384","order":2,"disp":true,"width":6},{"id":"7e99c792.f4b748","type":"ui_group","name":"Group 3","tab":"45901a8a.c9e384","order":3,"disp":true,"width":6},{"id":"d120b7f7.1cc298","type":"ui_group","name":"Group 4","tab":"45901a8a.c9e384","order":4,"disp":true,"width":6},{"id":"45901a8a.c9e384","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]
